{% extends "home/base.html" %}
{% block title %}
    About
{% endblock title %}
{% block content %}
    <article class="blog-post container px-4 py-5">
        <h2 class="blog-post-title">New feature</h2>
        <p class="blog-post-meta">
            December 14, 2020 by <a href="#">Chris</a>
        </p>
        <p>
            InvestLog is not just a place to park your money; it's your personalized investment journal. We understand that every investment tells a unique story, and we're here to help you document and analyze every chapter. With our intuitive platform, logging your investments becomes a seamless and insightful process. Track your portfolio's growth, record your strategies, and gain a deeper understanding of your financial landscape.
            What sets InvestLog apart is our commitment to making investment management simple, yet powerful. Whether you're a seasoned investor or just starting, our user-friendly interface ensures that logging your investments is as easy as putting pen to paper. Harness the strength of data-driven decisions as you navigate the complexities of the financial world.
        </p>
        <ul>
            <li>First list item</li>
            <li>Second list item with a longer description</li>
            <li>Third list item to close it out</li>
        </ul>
        <p>
            This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.
        </p>
    </article>
    <div class="container marketing container pe-1 px-5 py-5">
        <div class="row">
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle"
                     width="140"
                     height="140"
                     xmlns="http://www.w3.org/2000/svg"
                     role="img"
                     aria-label="Placeholder: 140x140"
                     preserveAspectRatio="xMidYMid slice"
                     focusable="false">
                    <title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                    </svg>
                    <h2>Heading</h2>
                    <p>
                        Some representative placeholder content for the three columns of text below the carousel. This is the first column.
                    </p>
                    <p>
                        <a class="btn btn-secondary" href="#">View details »</a>
                    </p>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <svg class="bd-placeholder-img rounded-circle"
                         width="140"
                         height="140"
                         xmlns="http://www.w3.org/2000/svg"
                         role="img"
                         aria-label="Placeholder: 140x140"
                         preserveAspectRatio="xMidYMid slice"
                         focusable="false">
                        <title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                        </svg>
                        <h2>Heading</h2>
                        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
                        <p>
                            <a class="btn btn-secondary" href="#">View details »</a>
                        </p>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <svg class="bd-placeholder-img rounded-circle"
                             width="140"
                             height="140"
                             xmlns="http://www.w3.org/2000/svg"
                             role="img"
                             aria-label="Placeholder: 140x140"
                             preserveAspectRatio="xMidYMid slice"
                             focusable="false">
                            <title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                            </svg>
                            <h2>Heading</h2>
                            <p>And lastly this, the third column of representative placeholder content.</p>
                            <p>
                                <a class="btn btn-secondary" href="#">View details »</a>
                            </p>
                        </div>
                        <!-- /.col-lg-4 -->
                    </div>
                </div>
            {% endblock content %}
