{% extends "home/base.html" %}
{% block title %}
    About
{% endblock title %}
{% block content %}
    <article class="blog-post container pe-1 px-5 py-5">
        <h2 class="blog-post-title">Our journey</h2>
        <p>
            InvestLog is not just a place to park your money. it's your personalized investment journal. We understand that every investment tells a unique story, and we're here to help you document and analyze every chapter. With our intuitive platform, logging your investments becomes a seamless and insightful process. Track your portfolio's growth, record your strategies, and gain a deeper understanding of your financial landscape.
            <br>
            <br>
            What sets InvestLog apart is our commitment to making investment management simple, yet powerful. Whether you're a seasoned investor or just starting, our user-friendly interface ensures that logging your investments is as easy as putting pen to paper. Harness the strength of data-driven decisions as you navigate the complexities of the financial world.
        </p>
    </article>
    <div class="container marketing container pe-1 px-5 py-5">
        <h2 class="blog-post-title mb-4">Meet the team</h2>
        <div class="row align-items-center">
            <div class="col-lg-4 justify-content-center text-center">
                <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                     alt="jessica"
                     class="rounded-circle mb-2"
                     width="140"
                     height="140">
                <h4>Jessica Rose</h4>
                <p>Chief Executive Office (CEO)</p>
                <p>
                    <a class="btn btn-secondary disabled" href="#">View details »</a>
                </p>
            </div>
            <div class="col-lg-4 justify-content-center text-center">
                <img src="https://images.pexels.com/photos/16160809/pexels-photo-16160809/free-photo-of-smiling-woman-with-curly-hair.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                     alt="ava"
                     class="rounded-circle mb-2"
                     width="140"
                     height="140">
                <h4>Ava Moore</h4>
                <p>Chief Financial Officer (CFO)</p>
                <p>
                    <a class="btn btn-secondary disabled" href="#">View details »</a>
                </p>
            </div>
            <div class="col-lg-4 justify-content-center text-center">
                <img src="https://images.pexels.com/photos/428328/pexels-photo-428328.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                     alt="bruce"
                     class="rounded-circle mb-2"
                     width="140"
                     height="140">
                <h4>Bruce Sanchez</h4>
                <p>Chief Technical Officer (CTO)</p>
                <p>
                    <a class="btn btn-secondary disabled" href="#">View details »</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
