.header {
  background-image: url("https://images.pexels.com/photos/355770/pexels-photo-355770.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #333;
  backdrop-filter: blur(100%);
}

.header {
  color: black;
}

.row {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

a {
  text-decoration: none;
}
